<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
    <!-- Enable the STDOUT appender if you need console logs -->
     <jmxConfigurator/>
	 <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	 
        <encoder>
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%C] [%t] [%L] [%-5p] %m%n</pattern>
        </encoder>
    </appender> 
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>/var/tmp/myorg/logs/myorg.log.log</File>
        <encoder>
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%C] [%t] [%L] [%-5p] %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>/var/tmp/myorg/logs/myorg.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1KB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <!-- Change this for individual package logging -->
    <!--<logger name="oauth" level="INFO" additivity="false">
        <appender-ref ref="FILE" />
         Enable the STDOUT if you need console logs 
         <appender-ref ref="STDOUT" /> 
    </logger>-->
    <root level="INFO">
        <appender-ref ref="FILE"/>
        <!-- Enable the STDOUT if you need console logs -->
         <appender-ref ref="STDOUT"/> 
    </root>
    <jmxConfigurator/>
</configuration>
